
<h1>Squad Posts</h1>
<br>
<% if current_user %>
  <h5> <%= link_to "New Post", new_post_path %></h5>
<% else %>
  <h5>Please sign in to post.</h5>
<% end %>


<hr>
<ul>
  <% @posts.each do |post| %>

  <h1><%= link_to post.title, post_path(post)%></h1>
  <ul>
    <li>Category:  <%= post.category %></li>

    <li>Username: <%= post.user.user_name %></li>

    <li>Time created: <br> <%= post.created_at %></li>
  </ul>
  <hr>
  <% end %>

</ul>

<% if current_user %>
  <h5> <%= link_to "New Post", new_post_path %></h5>
<% else %>
  <h5>Please sign in to post.</h5>
<% end %>
