<!DOCTYPE html>
<html>
  <head>
    <title>SquadUp</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <div class="top-bar">
      <div class="menu-text">
      </div>
      <h3><a class="menu-text" href="/posts">SquadUp</a> <small>A toxic free gaming community</small></h3>
      <div class="top-bar-right">
        <% if current_user %>
          <%= current_user.user_name %>
          <h5><%= link_to "Sign out", 'users/sign_out', method: :delete %></h5>
        <% else %>
          <h5><%= link_to "Sign in", 'users/sign_in' %> </h5>
        <% end %>
      </div>
    </div>
    <div class="container">
      <%= yield %>
    </div>
    <div class="well">
    </div>
  </body>
</html>
